#intro {
    background: #151515 url(../images/playground_back.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
}

.s-bg-image{
    background: #151515 url(../images/Sumner_31.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
}

.intro-overlay {
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .75;
}



.intro-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}

.intro-content .button {
    color: #FFFFFF !important;
    border-color: rgba(255, 255, 255, 0.3);
    height: 6rem !important;
    line-height: 5.4rem !important;
    padding: 0 3.5rem 0 3rem !important;
    margin-top: .6rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

button.stroke, .button.stroke {
    background: transparent !important;
    border: 3px solid white;
    line-height: 4.8rem;
}

input[type="button"] {
    display: inline-block;
    font-family: "poppins-bold", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: 5.4rem;
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    background: #d8d8d8;
    color: #313131;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.intro-content h2 {
    color:#669B7C;
    font-family: "GrifoL-Bold","Georgia",serif;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 10%;
   rgba(255, 255, 255, 0.6);

}




.section-intro h1 {
    font-family: "poppins-semibold", serif;
    font-size: 2.6rem;
    color: #313131;
    line-height: 1.25;
    margin-bottom: 1.2rem;
}
.section-intro h5 {
    color:#669B7C;
    font-size: 1.6rem;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
    padding-top: 30px;
}

.section-intro {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}

.question{
    /*font-family: "poppins-semibold", serif;*/
    /*margin-top: 3.6rem;*/
    color:#669B7C;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
    font-family: "GrifoL-Bold","Georgia",serif;
    margin-top: 7%;
}
.intro-info .lead {
    text-align: justify;
    padding-left: 13rem;
    border:10px 5px 15px 20px;
}
.text_p {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:10px 5px 15px 20px;
}

.row section-intro .lead1 {
    text-align:center;
    padding-left: 13rem;
    font-weight: bold;
}

.smalltitle-wrapper{
   padding-top:20px;
}

.smallheader-title{
    text-align:center;
}
.smallheader-titleWhite{
    text-align:center;
    color: white;
}

.bars{
    background-color: #212529;
    margin-bottom: 45px;
    height:15px;
}
.barText{
    color: black;
    position: absolute;
    font-size: 1rem;
}

.bgbox{
    width:100%;
    min-height:65px;
    background-color:rgba(255,255,255,0.7);
    box-shadow: 0 10px 10px 0 rgba(33,37,41, 0.19);
    border-radius: 5px;
    padding:10px;
    text-align:center;
    margin:10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 5px;

}

.spacebt{
    margin-top:20px;
}

#map{
    height:600px;
    width:100%;
}

#mapfixed{
    width: 100%;
    height: auto;
    /*border: 1px solid red;*/
}

#interactiveMap{
    height:600px;
    width:100%;
}

.btn {
    display: inline-block;
    border-radius: 2px;
    margin:1px;
    padding:5px;
    padding-left:6px;
    padding-right: 6px;
    margin-bottom:5px;
    text-transform: uppercase;
    text-align:center;
    border: 1px solid rgb(190,190,190)；
    /*font-family:"Georgia",serif;*/

    /*height: 2rem !important;*/

    /*letter-spacing: .25rem;*/

    /*font-size: 1.3rem;*/
}

.btn-primary {
    font-size:14px;
    line-height:1.8rem;
    font-family:"Georgia",serif;
    font-weight:400;
    background-color:#669B7C;
    /*color: #FFFFFF !important;*/
}

.btn-primary:hover, #reset:hover{
    cursor: pointer;
}
/*.btn-primary:hover,*/
/*.btn-primary:focus,*/
/*.btn-primary:active,*/
/*.btn-primary.active,*/
/*.open .dropdown-toggle.btn-primary {*/
    /*color: #679A7C;*/

/*}*/


.hrstyle1 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

#reset{
    margin-top:15px;
}

.label-xs-black{
    font-size:12.5px;
    line-height:1.4em;
    font-family:"Georgia",serif;
    font-weight:600;
}

.list-container{
    margin-top: .6rem;
    margin-bottom: .6rem;

    /*position: center;*/
    /*float: left;*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    /*transform: translate(-50%, -50%);*/
}